<!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Signup</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
    <body>
<div class="container" style="margin-top: 50px;">
        <div class="row justify-content-center">
            <div class="col-md-5 shadow-sm p-3 mb-5 bg-white rounded">
                <h2>Signup</h2>
                <form method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="pwd1">Password:</label>
                        <input type="password" class="form-control" id="pwd1" placeholder="Enter password" name="password1">
                    </div>
                    <div class="form-group">
                        <label for="pwd2">Confirm Password:</label>
                        <input type="password" class="form-control" id="pwd2" placeholder="Reenter password"
      name="password2">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>